{{ $title := printf "S2 P1 (%s)" site.Language.Lang }}
{{ $markup := printf `This page was created by a content adapter.

[plantuml]
....
@startuml
"%s"
@enduml
....
` $title
}}
{{ $content := dict
  "mediaType" "text/asciidoc"
  "value" $markup
}}
{{ $page := dict
  "content" $content
  "kind" "page"
  "path" "p1"
  "title" $title
}}
{{ .EnableAllLanguages }}
{{ .AddPage $page }}
